In [ ]:
 docker exec -it trino trino

In [ ]:
CREATE TABLE memory.default.employees (
    id INTEGER,
    name VARCHAR,
    department VARCHAR,
    region VARCHAR,
    hire_date DATE,
    salary INTEGER
);

In [ ]:
INSERT INTO memory.default.employees (id, name, department, region, hire_date, salary) VALUES
    (1, 'Alice',   'Sales', 'West', DATE '2021-01-01', 1200),
    (2, 'Bob',     'Sales', 'West', DATE '2021-01-02', 1300),
    (3, 'Charlie', 'Sales', 'West', DATE '2021-01-03',  900),
    (4, 'Diana',   'Sales', 'West', DATE '2021-01-04', 1100);

In [ ]:
CREATE TABLE memory.default.op2 (
    id INTEGER,
    seq INTEGER,
    step INTEGER,
    event_type VARCHAR,
    value INTEGER
);

In [ ]:
INSERT INTO memory.default.op2 (id, seq, step, event_type, value) VALUES
(1, 1, 1, 'start', 100),
(2, 1, 2, 'middle', 200),
(3, 1, 3, 'end', 300),

(4, 2, 1, 'middle', 250),
(5, 2, 2, 'start', 150),
(6, 2, 3, 'end', 350),

(7, 3, 1, 'start', 175),
(8, 3, 2, 'end', 275),
(9, 3, 3, 'middle', 375),

(10, 4, 1, 'end', 225),
(11, 4, 2, 'middle', 325),
(12, 4, 3, 'start', 425);

In [ ]:
CREATE TABLE memory.default.orders (
    customer_id VARCHAR,
    order_date DATE,
    price INTEGER
);

In [ ]:
INSERT INTO memory.default.orders
VALUES 
    ('cust_1', DATE '2020-05-11', 100),
    ('cust_1', DATE '2020-05-12', 200),
    ('cust_2', DATE '2020-05-13',   8),
    ('cust_1', DATE '2020-05-14', 100),
    ('cust_2', DATE '2020-05-15',   4),
    ('cust_1', DATE '2020-05-16',  50),
    ('cust_1', DATE '2020-05-17', 100),
    ('cust_2', DATE '2020-05-18',   6);

In [ ]:
#for testing comprehensive match recognize
cd /home/monierashraf/Desktop/llm/Row_match_recognize && python -m pytest tests/test_comprehensive_match_recognize.py tests/test_performance_stress.py -v --tb=short